<style>
    .button-container {
        display: flex;
        justify-content: center;
    }

    .button-container button {
        margin: 10px;
    }
</style>

<div class="container-fluid" style="margin: 20px, width= auto" >
    <div class="row">

    </div>
    <div class="row">
        <div class="col-8">
            <!-- Listeleme alanı burada -->
            <ul class="list-group">
                <li class="list-group-item">Personel 1</li>
                <li class="list-group-item">Personel 2</li>
                <li class="list-group-item">Personel 3</li>
                ...
            </ul>
        </div>
        <div class="col-4">
            <!-- Form grubu burada -->
            <form>
                <div class="form-group" style="margin-bottom: 0px">
                    <div class="col-md-4 mx-auto">
                        <!-- Resim kutusu burada -->
                        <img class="rounded-circle shadow-4-strong img-thumbnail" alt="avatar2"
                            src="../assets/img/personnel-photos/default.jpg" />
                    </div>
                </div>
                <div class="button-container">
                    <!-- İndir ve yükle butonları burada -->
                    <button type="button" class="btn btn-secondary custom" (click)="indir()">İndir</button>
                    <button type="button" class="btn btn-primary custom" (click)="yukle()">Yükle</button>
                </div>
                <div class="pr-3 pl-3" >
                    <div class="form-group">
                        <label for="ad">Ad</label>
                        <input type="text" class="form-control" id="ad" />
                    </div>
                    <div class="form-group">
                        <label for="soyad">Soyad</label>
                        <input type="text" class="form-control" id="soyad" />
                    </div>
                    <div class="form-group">
                        <label for="dogumTarihi">Doğum Tarihi</label>
                        <input type="date" class="form-control" id="dogumTarihi" />
                    </div>
                </div>
                
            </form>
        </div>
    </div>
</div>